<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout - CBC Portal</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="app">

    <!-- SIDEBAR -->
    <aside class="sidebar">

        <h2>CBC Portal</h2>

        <a href="../dashboard.html">Dashboard</a>
        <a href="../students/students.html">Students</a>
        <a href="../teachers/teachers.html">Teachers</a>
        <a href="../assessments/assessments.html">Assessments</a>
        <a href="../parents/parents.html">Parents</a>
        <a href="../finance/finance.html">Finance</a>

    </aside>

    <!-- MAIN -->
    <main class="main">

        <header class="topbar">
            <h3>Welcome to CBC School System</h3>

            <div class="user-box">
                <span id="roleText">ADMIN</span>
            </div>
        </header>

        <section class="content">
            <!-- PAGE CONTENT GOES HERE -->
        </section>

    </main>

</div>